@* @section Styles{
    <link href="~/Content/Profile.styles.css" type="text/css" rel="stylesheet" />

} *@

<aside class="sidebar">
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="list-item"><a href="@Url.Action("Index", "Home")"><img src="~/images/Home.svg" alt="" /></a></li>
            <li class="list-item"><a href="@Url.Action("Index", "Activity")"><img src="~/images/activity.svg" alt="" /></a></li>
            <li class="list-item"><a href="@Url.Action("Index", "Exercise")"><img src="~/images//Exercise.svg" alt="" /></a></li>
            <li class="list-item"><a href="@Url.Action("Index", "")"><img src="~/images/messages.svg" alt="" /></a></li>
            <li class="list-item"><a href="@Url.Action("Index", "")"><img src="~/images/discover.svg" alt="" /></a></li>
            <li class="list-item"><a href="@Url.Action("Index", "")"><img src="~/images/setting.svg" alt="" /></a></li>
        </ul>
    </nav>
</aside>